generate/msvc/*.ncb
generate/msvc/*.plg
generate/msvc/*.opt
generate/msvc/AcpiBin
generate/msvc/AcpiBinDebug
generate/msvc/AcpiSrc
generate/msvc/AcpiSrcDebug
generate/msvc/AcpiSubsystem
generate/msvc/AcpiSubsystemDebug
generate/msvc/AcpiExec
generate/msvc/AcpiExecDebug
generate/msvc/AcpiNames
generate/msvc/AcpiNamesDebug
generate/msvc/AslCompiler
generate/msvc/AslCompilerDebug
generate/msvc/AcpiXtract
generate/msvc/AcpiXtractDebug
generate/msvc/AcpiSrcLinuxDebug
generate/msvc/AcpiSubsystemLinux
generate/msvc/AcpiSubsystemLinuxDebug
generate/msvc/AslCompiler_Linux/
generate/msvc/AslCompiler_LinuxDebug/
generate/msvc/AcpiSubsystem64
generate/msvc/Examples
generate/msvc/ExamplesDebug
generate/msvc/ApiTest
generate/msvc/bin

generate/msvc9/*.user
generate/msvc9/*.ncb
generate/msvc9/*.plg
generate/msvc9/*.opt
generate/msvc9/*.suo
generate/msvc9/*.aps
generate/msvc9/*.rc
generate/msvc9/AcpiBin
generate/msvc9/AcpiBinDebug
generate/msvc9/AcpiDump
generate/msvc9/AcpiDumpDebug
generate/msvc9/AcpiSrc
generate/msvc9/AcpiSrcDebug
generate/msvc9/AcpiSubsystem
generate/msvc9/AcpiSubsystemDebug
generate/msvc9/AcpiExec
generate/msvc9/AcpiExecDebug
generate/msvc9/AcpiHelp
generate/msvc9/AcpiHelpDebug
generate/msvc9/AcpiNames
generate/msvc9/AcpiNamesDebug
generate/msvc9/AslCompiler
generate/msvc9/AslCompilerDebug
generate/msvc9/AcpiXtract
generate/msvc9/AcpiXtractDebug
generate/msvc9/Examples
generate/msvc9/ExamplesDebug
generate/msvc9/ApiTest
generate/msvc9/ApiTestDebug
generate/msvc9/Makefiles
generate/msvc9/Scripts

generate/msvc9/AcpiSrcLinuxDebug
generate/msvc9/AcpiSubsystemLinux
generate/msvc9/AcpiSubsystemLinuxDebug
generate/msvc9/AslCompiler_Linux/
generate/msvc9/AslCompiler_LinuxDebug/
generate/msvc9/AcpiSubsystem64

generate/unix/bin
generate/unix/acpibin/obj
generate/unix/acpidump/obj
generate/unix/acpiexamples/obj
generate/unix/acpiexec/obj
generate/unix/acpihelp/obj
generate/unix/acpinames/obj
generate/unix/acpisrc/obj
generate/unix/acpixtract/obj
generate/unix/iasl/obj

generate/release/current
generate/release/archive
generate/release/size_dbg.txt
generate/release/size_rel.txt

generate/lint/LintOut.txt

generate/linux/bin
generate/linux/bin*
generate/linux/linux
generate/linux/linux-*
generate/linux/acpica-*
generate/linux/diffstat.txt
generate/linux/diffstat-single.txt
generate/linux/divergence.diff
generate/linux/divergence-single.diff

libraries

tests/misc/grammar.aml
tests/misc/grammar.dsl

.pc

chmod.sh
clean.sh
crlf.sh
pull.sh
push.sh
src.sh
touch.sh
u2d.sh
new
patches
pmtools
source_linux
tools_3rd_party
source.zip



