.sconsign.dblite
.DS_Store
*.o
*.js.h
*.asm_o
*.a
*.pyc
*.host
tmp/
v8.log
bochsout.txt
map.txt
runtimejs
disk/boot/initrd
disk/boot/kernel.bin
disk/boot/runtime
/mkinitrd
qt_rtproj.*
/test-host
*.autosave
initrd/benchmarks
runtime.log
*.pcap
disk/boot/initrd-downloaded
disk/boot/runtime-downloaded
netdump.txt
/js/node_modules
/build/system/kernel.js
