language: cpp
compiler: gcc
sudo: false
before_script:
- npm install -g npm@2
- node scripts/make-release.js "$TRAVIS_TAG"
- cd tools
- wget https://github.com/runtimejs/toolchain-bin-linux/raw/master/x86_64-elf-4.9.1-Linux-x86_64.tar.xz
- tar -xf x86_64-elf-4.9.1-Linux-x86_64.tar.xz
- wget https://github.com/runtimejs/toolchain-bin-linux/raw/master/fasm-1.71.21.tgz
- tar -xf fasm-1.71.21.tgz
- cd ..
- export PATH=$PWD/tools/x86_64-elf-4.9.1-Linux-x86_64/bin:$PWD/tools/fasm:$PATH
script: RUNTIME_BUILD=release scons
after_success: gzip disk/boot/runtime
deploy:
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: U46qwGM0PUFpbx0WwEPGAHfiG4iNxVWIG1jCA2/V6r+ZIkubWAt4juKsafrL8LK2zRiVnNtWCKt0T1zKgBMxebnOUOuP+RPu7oodEhsLX8qMMTHjNeKL4iNmXZx7UoX8uS5IiKQu+Yo1WA6vZTcJ2f++Bg9NwHtOt7LY+zg48Qg=
    file: disk/boot/runtime.gz
    on:
      tags: true
      repo: runtimejs/runtime
  - provider: npm
    skip_cleanup: true
    email: shayief@gmail.com
    api_key:
      secure: Prcon+FjPLo1nh6hdJ1byLAUTMU/vfq3fBLzkxQIyJTVKIeKg9mPVtNoCmvbgxsSVTdS+gPjIoMpt0LgZCUq/cDRJAtOIaAqbm+fVNJBTwgkgwYAG7hCjEprAhUYiqutT+7KhgNZSKUBNJo/w5sWl8xdsSbfHyldGP6XBcocL50=
    on:
      tags: true
      repo: runtimejs/runtime
